<div class="card" style="width:300px">
	<img class="card-img-top" src="assets/img/giphy.gif" alt="Card image" style="width:100%">
	<div class="card-body">
	  <p class="card-text">{{task.description}}</p>
	  <a href="#" class="btn" [ngClass]="{'btn-danger':dueDate==dueDateEnum.Urgent, 'btn-default':dueDate!=dueDateEnum.Urgent}" style="
	  	position: relative;
  		left: 0px;
  		width:80px;"
  		(click)="setUrgent()">urgent</a>
	  <a href="#" class="btn" [ngClass]="{'btn-warning':dueDate==dueDateEnum.Days, 'btn-default':dueDate!=dueDateEnum.Days}" style="
	  	position: relative;
  		left: 0px;
  		width:80px;"
  		(click)="setDays()">days</a>
	  <a href="#" class="btn" [ngClass]="{'btn-primary':dueDate==dueDateEnum.Week, 'btn-default':dueDate!=dueDateEnum.Week}" style="
	  	position: relative;
  		left: 0px;
  		width:80px;"
  		(click)="setWeek()">week</a>
	</div>
</div>
